<!DOCTYPE html>
<html lang="en">
  <%- partial('partials/head', {title:title}) %>
<body data-spy="scroll" data-target=".subnav" data-offset="50">

	<%- partial('partials/alchemymenu') %>

	<div class="wrapper">
		<%- partial('partials/header', { user: user }) %>
		
		<%- partial('partials/nav') %>

		

		<div id="main">
		</div><!-- /#main -->

		<%- partial('partials/footer') %>

		
	</div><!-- /#wrapper -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%- partial('partials/scripts') %>
  </body>
</html>


















