<!DOCTYPE html>
<html lang="en">
  <%- partial('../partials/head', {title:title}) %>
<body data-spy="scroll" data-target=".subnav" data-offset="50" class="categoriesio">

	<%- partial('../partials/alchemymenu') %>
	
	<div class="wrapper">
		<%- partial('../partials/header') %>	
		<%- partial('../partials/nav') %>

		

		<div id="main">

			<div id="add-insight-button" class="row-fluid">
				<div class="span2 offset7 bttn">
					<i class="icon-plus"></i>&nbsp;Insight
				</div>
			</div>

			<div id="new-insights-el"></div>
			<div id="insights-el"></div>

			
		</div><!-- /#main -->

		<%- partial('../partials/footer') %>
		
	</div><!-- /#wrapper -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%- partial('../partials/scripts') %>

  </body>
</html>













