<!DOCTYPE html>
<html lang="en">
  <%- partial('../partials/head', {title:title}) %>
<body data-spy="scroll" data-target=".subnav" data-offset="50">

	<%- partial('../partials/alchemymenu') %>
	

	<div class="wrapper">
		<%- partial('../partials/header') %>
		
		<%- partial('../partials/nav') %>

		<div id="main">
			<div id="sources">
				<div class="row-fluid">
					<div id="sources-magazines-wrapper" class="span10 offset3">
						<div class="sources-heading">
							<h6>Sources</h6>
							<div class="number-of-sources bold">39</div>
							<div class="bold">magazines</div>
						</div>
						<div id="sources-magazines">
							<span class="source-link">Vogue Paris</span>, <span class="source-link">Vogue Italy</span>, <span class="source-link">Flaunt</span>, <span class="source-link">S Magazine</span>, <span class="source-link">Garage</span>, <span class="source-link">Interview</span>, <span class="source-link">V Magazine</span>, <span class="source-link">W</span>, <span class="source-link">Frieze</span>, <span class="source-link">Print</span>, <span class="source-link">Purple Fashion</span>, <span class="source-link">I-D</span>, <span class="source-link"></span>, <span class="source-link">Suggested</span>, <span class="source-link">Tissue Magazine</span>, <span class="source-link">Acne Paper</span>, <span class="source-link">Nero</span>, <span class="source-link">Double </span>, <span class="source-link">Garage Magazine</span>, <span class="source-link">VISIONAIRE - super expensive</span>, <span class="source-link">The Last Magazine</span>, <span class="source-link">Oyster</span>, <span class="source-link">Schon Magazine</span>, <span class="source-link">032c</span>, <span class="source-link">A Magazine</span>, <span class="source-link">Eine</span>, <span class="source-link">LOVE</span>, <span class="source-link">Purple Fashion</span>, <span class="source-link">Self-Service</span>, <span class="source-link">Tank</span>, <span class="source-link">tar</span>, <span class="source-link">Toilet Paper (Maurizio Cattelan)</span>, <span class="source-link">Wrestle</span>, <span class="source-link">V</span>, <span class="source-link">W</span>, <span class="source-link">AnOther</span>, <span class="source-link">COLORS</span>, <span class="source-link">i-D</span>, <span class="source-link">Another Man</span>, <span class="source-link">Hunter</span>, <span class="source-link">Bullett</span>, <span class="source-link">Plateau</span>, <span class="source-link">novembre</span>
						</div><!-- /#sources-magazines -->
					</div>
				</div>
			</div><!-- /#sources -->
		</div><!-- /#main -->

		<%- partial('../partials/footer') %>

		
	</div><!-- /#wrapper -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%- partial('../partials/scripts') %>
    
  </body>
</html>


















